body{
    margin:0;
    padding:0;
    /** RTL */
    text-align: right;
    direction: rtl;
    font-family: Arimo, Arial;
    background-image: url('/background.png');
    background-color:#ffffff;
}

