#roomsPage {
    background-color: #1abc9c;
    color: white;
    border-radius: 10px;
    margin:0;
    border-bottom-left-radius: 0!important;
    padding-bottom:5px;
}
#roomsPage .title{
    background-color:#16a085;
}
#roomsPage button {
    color: white;
    background-color: #16a085;
}